@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --iblue: #004AAD;
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.op {
  opacity: 0.5;
}
.op-100 {
  opacity: 1;
}
.title {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-weight: 600;
  background-color: var(--iblue);
  opacity: 0.8;
}
.t {
  width: calc(100% - 110px);
}

.ts {
  display: hidden;
}

.at:hover~.ts {
  display: flex;
}